<div class="glassBongContainer">
    <!-- <link rel="stylesheet" href="../../../../app.component.css"> -->
    <div class="row justify-content-end">
        <div class="col-4 mt-3  text-center cardBong" *ngFor="let item of numbers">
            <div class="card" style="width: 18rem;" (click)="goToItem(item.id)">
                <img src={{item.image}} class="image-megazice">
                <div class="card-body">
                    <p class="card-text">Mayoreo: {{item.pricerMass}} <button class="mayoritaryButton">Comprar</button></p>
                    <p class="card-text">Menudeo: {{item.pricerMass}} <button class="minoritaryButton">Comprar</button></p>
                    <p class="card-text">Stock:30 pz </p>
                </div>
            </div>
        </div>
    </div>
</div>